:root {
  --white: #ffffff;
  --black: #000000;
  --grey-500: #626c7f;
  --grey-50: #f4f6fa;
  --blue-950: #2d3949;
  --blue-900: #313e51;
  --blue-850: #3b4d66;
  --blue-500: #306aff;
  --blue-300: #abc1e1;
  --blue-100: #edf1f9;
  --blue-50: #ebf0ff;
  --green-500: #2fd887;
  --green-100: #e0fdef;
  --purple-600: #a729f5;
  --purple-100: #f6e7ff;
  --orange-400: #ff7e35;
  --orange-50: #fff5ed;
  --red-500: #ee5454;
  --background-img-mobile-light: url("./images/pattern-background-mobile-light.svg");
  --background-img-tablet-light: url("./images/pattern-background-tablet-light.svg");
  --background-img-desktop-light: url("./images/pattern-background-desktop-light.svg");
  --background-img-mobile-dark: url("./images/pattern-background-mobile-dark.svg");
  --background-img-tablet-dark: url("./images/pattern-background-tablet-dark.svg");
  --background-img-desktop-dark: url("./images/pattern-background-desktop-dark.svg");
  --sun-image-dark: url("./images/icon-sun-dark.svg");
  --sun-image-light: url("./images/icon-sun-light.svg");
  --moon-image-light: url("./images/icon-moon-light.svg ");
  --moon-image-dark: url("./images/icon-moon-dark.svg");
  --icon-correct: url("./images/icon-correct.svg");
  --icon-incorrect: url("./images/icon-incorrect.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  background-color: var(--grey-50);
  background-image: var(--background-img-mobile-light);
  background-size: cover;
  color: var(--blue-900);
  font-family: "Rubik", sans-serif;
  background-repeat: no-repeat;
}
body.dark-theme {
  background-color: var(--blue-900);
  background-image: var(--background-img-mobile-dark);
}
.main-container {
  padding-inline: 24px;
}
.header {
  padding-block: 24px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.topic-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.html {
  background-color: var(--orange-50);
}
.css {
  background-color: var(--green-100);
}
.js {
  background-color: var(--blue-50);
}
.access {
  background-color: var(--purple-100);
}
.topic-img-container,
.question-option {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: 700;
}
.question-option {
  background-color: var(--grey-50);
  color: var(--grey-500);
  font-size: 18px;
}
.topic-img {
  height: 28px;
  width: 28px;
}
.topic-name {
  font-size: 18px;
  font-weight: 500;
}
body.dark-theme .topic-name {
  color: var(--white);
}
.theme-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px;
  background-color: var(--purple-600);
  border-radius: 999px;
  transition: 0.4s;
}
.slider::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider::before {
  transform: translateX(12px);
}
.sun-container,
.moon-container {
  height: 18px;
  width: 18px;
  background-size: 100%;
}

.sun-container {
  background-image: var(--sun-image-dark);
}
.moon-container {
  background-image: var(--moon-image-dark);
}
body.dark-theme .sun-container {
  background-image: var(--sun-image-light);
}
body.dark-theme .moon-container {
  background-image: var(--moon-image-light);
}

.title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 16px;
}
body.dark-theme .title {
  color: var(--white);
}

.bold {
  font-weight: 500;
}
.subtitle {
  font-size: 14px;
  line-height: 150%;
  font-style: italic;
  color: var(--grey-500);
  font-weight: 400;
}
body.dark-theme .subtitle {
  color: var(--blue-300);
}
.buttons-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-container button {
  border-radius: 12px;
  background-color: var(--white);
  border: none;
  height: 72px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-900);
  align-items: center;
}
body.dark-theme .buttons-container button {
  background-color: var(--blue-850);
  color: var(--white);
}
.question-number {
  margin-bottom: 16px;
}
.question {
  margin-bottom: 24px;
  font-size: 20px;
}

.answer-result-img {
  flex-shrink: 0;
  margin-left: auto;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.answer.disabled {
  pointer-events: none;
  opacity: 0.8;
}
.progress-container {
  width: 100%;
  background-color: white;
  height: 16px;
  border-radius: 999px;
  padding: 4px;
  margin-bottom: 40px;
}
.progress-bar {
  width: 0;
  background-color: var(--purple-600);
  height: 100%;
  border-radius: 999px;
}
.submit-button,
.next-button,
.again-button {
  height: 56px;
  background-color: var(--purple-600);
  width: 100%;
  border: none;
  border-radius: 12px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 32px;
}

.buttons-container button.selected {
  border: 3px solid var(--purple-600);
}
.buttons-container button.correct-answer {
  border: 3px solid var(--green-500);
}
.buttons-container button.incorrect-answer {
  border: 3px solid var(--red-500);
}
.result-container {
  height: 242px;
  width: 100%;
  background-color: var(--white);
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score {
  margin-block: 16px;
  font-size: 88px;
  line-height: 100%;
  font-weight: 500;
}
.max-score {
  margin-top: auto;
  font-size: 18px;
  font-weight: 600;
  color: var(--grey-500);
}
.hidden {
  display: none;
}
@media (min-width: 768px) {
  body {
    background-image: var(--background-img-tablet-light);
    background-size: 75% 75%;
  }
  body.dark-theme {
    background-image: var(--background-img-tablet-dark);
  }
  .main-container {
    padding-inline: 64px;
    margin-bottom: 32px;
  }
  .header {
    margin-block: 48px;
  }
  .topic-title-container {
    gap: 24px;
  }
  .topic-img-container,
  .question-option {
    width: 56px;
    height: 56px;
  }
  .question-option {
    font-size: 28px;
  }
  .topic-img {
    width: 40px;
    height: 40px;
  }
  .topic-name {
    font-size: 28px;
  }
  .theme-container {
    gap: 16px;
  }
  .sun-container,
  .moon-container {
    height: 26px;
    width: 26px;
  }
  .switch {
    width: 48px;
    height: 28px;
  }
  .slider::before {
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
  }
  input:checked + .slider::before {
    transform: translateX(20px);
  }
  .title {
    font-size: 64px;
  }
  .question {
    font-size: 36px;
  }
  .subtitle {
    font-size: 20px;
  }
  .buttons-container {
    margin-top: 64px;
    gap: 24px;
  }
  .buttons-container button {
    font-size: 28px;
    height: 88px;
    border-radius: 24px;
  }
  .answer-result-img {
    width: 40px;
    height: 40px;
  }
  .submit-button,
  .next-button,
  .again-button {
    height: 92px;
    border-radius: 24px;
    font-size: 28px;
    margin-top: 32px;
  }
  .result-container {
    height: 388px;
    padding: 48px;
  }
  .score {
    font-size: 144px;
    margin-block: 40px 16px;
  }
  .max-score {
    font-size: 24px;
    line-height: 150%;
  }
}
@media (min-width: 1440px) {
  body {
    background-image: var(--background-img-desktop-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  body.dark-theme {
    background-image: var(--background-img-desktop-dark);
  }
  .header {
    margin-block: 64px;
  }
  .main-container {
    padding-inline: 142px;
  }
  .main-content { 
    display: grid;
    grid-template-columns: minmax(465px, 1fr) minmax(564px, 1fr);
    grid-template-rows: minmax(464px, 1fr) 92px;
    gap: 32px 128px;
  }
  .result-page .main-content {
    display: grid;
    grid-template-columns: minmax(450px, 1fr) minmax(564px, 1fr);
    grid-template-rows: minmax(388px, 1fr) 92px;
    gap: 32px 144px;
  }
  .text-content {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .progress-container {
    margin: 0;
    margin-top: auto;
  }

  .buttons-container {
    margin: 0;
    margin-bottom: 0;
    gap: 16px;
  }
  .buttons-container button {
    padding: 24px;
    height: 104px;
  }
  .submit-button,
  .next-button,
  .again-button {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
  }
}
