:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey-500: #626C7F;
    --grey-50: #F4F6FA;
    --blue-950: #2D3949;
    --blue-900: #313E51;
    --blue-850: #3B4D66;
    --blue-500: #306AFF;
    --blue-300: #ABC1E1;
    --blue-100: #EDF1F9;
    --blue-50: #EBF0FF;
    --green-500: #2FD887;
    --green-100: #E0FDEF;
    --purple-600: #A729F5;
    --purple-100: #F6E7FF;
    --orange-400: #FF7E35;
    --orange-50: #FFF5ED;
    --red-500: #EE5454;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: ;
}